 <!-- Call Section -->
    <section class="success" id="call">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Call for submissions</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
	      
		<h4> 2nd call for posters:</h4>
		<p>
	  A second call for posters is now open (deadline July 23rd, midnight).
	  <br>Please follow the same guidelines and submisison system as described below. 
		</p>

		<br>

                  <p><i>We will award a prize to the best communication.</i></p>
		  <br>
		  <p> We invite Master M2 and PhD students from Université Paris-Saclay to submit an extended abstract of up to 3 pages describing new or preliminary results of their work in one of the three forms: oral talk, poster or poster-demo (all in English).  Master students are encouraged to submit posters even if they do not have substantial results at the time of submission. Submissions should be formatted according to the Springer Lecture Notes in Computer Science style. </p>
		  <br>
		  <p>
		    <b>Extended Abstract Instructions:</b>
		    <ul> <!--style="border:3px; border-style:solid; border-color:#FFf"> -->
		      <big> <big>
			  <li>Please follow this simplified template:  <a href="{{ site.url }}/assets/JDSEtemplate.pdf"style="color: #FFF"><u>PDF</u></a> ;  <a href="{{ site.url }}/assets/JDSE_abstract_template.zip"style="color: #FFF"><u>latex source</u></a> </li>
			  <li>Language = English </li>
			  <li>Number of pages = 1 to 3 </li>
			  <li>Maximum number of Table or Figure = 1 </li>
			  <li>Mandatory paragraphs = Abstract, Keywords, Motivation, References (max 10 ref.) </li>
		      </big></big>
		    </ul>
		  </p>
		    <!--(templates: <a href="ftp://ftp.springer.de/pub/tex/latex/llncs/latex2e/llncs2e.zip" style="color: #FFF">latex</a>;  <a href="ftp://ftp.springer.de/pub/tex/latex/llncs/word/splnproc1110.zip"style="color: #FFF">word</a>). -->
		    
		    
		  <p> Each extended abstract must be submitted online via the Easychair submission system (information available later) </p>
<!-- (jdseparis17) :</p>
                  <div style="text-align:center;">
		    <a href="https://easychair.org/conferences/?conf=jdseparis17" target="_blank" class="btn btn-lg btn-outline" role="button">
		      <i class="fa-file-text-o"></i> SUBMIT
                    </a>
                  </div> -->
		  
                  <br>
                  <p>The topics of the conference are listed below:
                    <br>
                  <ul>
                    <big><big>
                    <li>data mining</li>
                    <li>databases</li>
                    <li>big data analytics</li>
                    <li>machine learning</li>
                    <li>statistics</li>
                    <li>semantic web</li>
                    <li>scientific workflows</li>
                    <li>distributed data and computing</li>
                    <li>applications of data science (biomedical and biological data, physics, chemistry, smart cities, image, documents, audio, video, on-line advertisement, ...)</li></big></big>
                  </ul></p>
		  <br>
<!--                  <p> The deadline for submissions for oral and poster presentations was extended <b> see DATES</b> for details.</p> -->


                  <p>The extended abstracts will be reviewed by the scientific program committee, possibly including one junior PC member (PhD student or postdoc in data science). They will be selected for oral (15 min) or poster presentation (flash talks, poster and poster-demo sessions) according to their originality and relevance to the conference topics. All the presentations should be in English. Electronic versions of the extended abstracts will be accessible on the conference web site. The book of abstracts will not be published and the extended abstracts will not constitute a formal publication.</p>
                  <p><b><u>Note:</u></b> Only Master M2 and PhD students from Université Paris-Saclay are invited to contribute.</p>
            </div>
        </div>
    </section>
