 <!-- Dates Section -->
    <section id="dates">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Important Dates</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
              <p>Contributions submission deadline:  <b> TBA</b></p>
              <p>Acceptance notification: <b>TBA</b></p>
	      <p>Second call (posters only) - deadline: TBA </p>
	      <p>Registration is not yet open</p>
	      <p>Close registration:  <b>TBA</b> 
	<!--	<br> <i>We know you might be in holidays right now, but the sooner you register the easier it is for us, so please take the time to fill the form!</i>  --> </p>
              <p>Conference: <b>September 12-13th, 2018</b></p>
            </div>
        </div>
    </section>
