<!-- Program Section -->
    <section  id="program">
<!--    <section class="success_dark" id="program"> -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                 
		  <h2>Program</h2>
                    <hr class = "primary">
                </div>
            </div>

            <p>To be announced</p>

<!--
            <div class="row">
	      <h5>Information to the authors</h5>
	      Speakers, please come to the registration desk with your slides as a pdf file on a USB stick as soon as possible and no later than during the break before your session. 
	      <br>All posters will be presented during both sessions (Thursday and Friday).
	      
              <br>
	      <br>
              <br> <i> The talks will be in English.</i>
	      <br> <i>Watch the JDSE2017 conference 
	      <a href=https://webcast.in2p3.fr/live/jdse>live stream</a>  
	      or 
	      <a href=https://webcast.in2p3.fr/container/jdse>afterwards</a>  
	      
	      <br>
	      <br> The booklet with all extended abstracts can be found <a href="{{ site.url }}/assets/JDSE17_booklet_compressed.pdf"><u>here</u>.</a>
	      <br>
	      <br>
              <h3 >Thursday 14 September 2017</h3>
              
	      <p>
                <br>
                <b>9:15- 9:45: Coffee and conference registration</b>
                <br>
		<br>
		<small><small> 9:50 - 10:15: Welcome message. <aff><i><small>S. Cohen-Boulakia and F. Jay, PC chairs ; F. d'Alché-Buc, Digicosme</aff></i></small> </small></small>
		<br>	
                <h4> 10:15 - 11:45:   Morning Session I</h4>
		<h6> Databases and ontologies</h6>
		
                <h6>10:15 - 11:15: Keynote <a href="#leser"> <u> Ulf Leser </u> (Humboldt University)</a>  Web-Scale Domain-Specific Information Extraction  </h6>
		<i>Chair: Ludovic Platon <small> (IBISC)</small></i>
		<br>
		11:15 - 11:30: On the Automatic Distribution and Parallelization of a miRNA Prediction Algorithm using Spark and Mesos frameworks. <u>Alexandre Protat</u>, Laurent Poligny, Nazim Agoulmine and Fariza Tahi. <aff><i><small>IBISC, U Evry</small></i></aff>
                <br>
                11:30 - 11:35: Repairing regular expressions by adding missing words. <u>Thomas Rebele</u>, Katerina Tzompanaki and Fabian M. Suchanek. <aff><i><small>Telecom ParisTech, U Cergy-Pontoise</small></i></aff>
                <br>
                11:35 - 11:40: Grouping Answers in Ontology-Based Query Answering: the RDFS case. <u>Maxime Buron</u> and Michaël Thomazo. <aff><i><small>LIX, Inria</small></i></aff>
                <br>
                11:40 - 11:45: Forecasting bike sharing demand. <u>Aurélie Fréchet</u>. <aff><i><small>EDF R&D</small></i></aff>
              </p>
	      
              <p>
                <br>
                <b>11:45 - 12:15: Coffee break</b>
              </p>
              <p>
                <br>
                <h4>12:15 – 13:15: Morning Session II</h4>
		<h6>Community, graph</h6>
		<i>Chair: Van Ha Hoang <small>(UPSud)</small></i>
		<br>
		12:15 - 12:30: Community recovery in stochastic block models using semi-definite programming. Youssouf Emin and <u>Ismael Lemhadri</u>. <aff><i><small>Ecole polytechnique</small></i></aff>
		<br>
		12:30 - 12:45: Phase transitions in hierarchical community detection. <u>Stefano Sarao</u>, Thibault Lesieur and Lenka Zdeborová. <aff><i><small>IPhT, CEA </small></i></aff>
		<br>
		12:45 - 13:00: End-to-end Causal Modelling. <u>Diviyan Kalainathan</u>, Olivier Goudet, Philippe Caillou, Isabelle Guyon, Michèle Sébag and Paola Tubaro. <aff><i><small>LRI, Inria, UPSud</small></i></aff>
  		<br>
		13:00 - 13:15: Weak laws of large numbers for persistence diagrams. <u>Vincent Divol</u>. <aff><i><small>ENS, UPSud </small></i></aff>
	      </p>
	      <br>
	      <p>
                <br>
                <b>13:30 - 15:00:  Lunch at CESFO Bures-sur-Yvette</b> (take a left when going out of the LAL, <a href="https://www.google.com/maps/dir/Laboratoire+de+l'Acc%C3%A9l%C3%A9rateur+Lin%C3%A9aire,+Orsay,+France/48.698483,2.1684989/@48.6990801,2.1670058,17z/data=!3m1!4b1!4m8!4m7!1m5!1m1!1s0x47e67f55f262267d:0xfaf34e568ce1b1fc!2m2!1d2.1709371!2d48.6993151!1m0"> <u>here is the way</u> </a>)
              </p>
	      
              <p>
                <br>
                <h4>15:00 – 16:30: Afternoon Session I</h4>
		<h6> Spatio-temporal data </h6>
 		<h6>15:00 - 16:00: Keynote <a href="#morik"><u>Katharina Morik</u> (TU Dortmund University)</a>  Machine Learning under Resource Constraints  </h6>  
		<i>Chair: Anna Korba <small>(Telecom ParisTech)</small></i>     		<br>
		16:00 - 16:15: Bandit algorithms for power consumption control. <u>Margaux Brégère</u>. <aff><i><small>EDF R&D</small></i></aff>
                <br>
                16:15 - 16:20: On Modeling and Analyzing Museum Visitor Movements with Semantic Trajectories. <u>Alexandros Kontarinis</u>. <aff><i><small>ETIS, U Cergy-Pontoise, DAVID, UVSQ</small></i></aff>
                <br>
                16:20 - 16:25: Towards a Scalable learning and Classification of Multivariate Time Series. <u>Ali Mzahem</u>, Yehia Taher and Karine Zeitouni. <aff><i><small>DAVID, UVSQ</small></i></aff>
                <br>
              </p>

	      <p>
                <br>
                <h4>16:30 – 17:00: Afternoon Session II</h4>
                <h6> Optimization </h6>
		<i>Chair: Antonin Della Noce <small>(CentraleSupélec)</small></i>
		<br>
		16:30 - 16:45: From safe screening rules to working sets for faster Lasso-type solvers. <u>Mathurin Massias</u>, Alexandre Gramfort and Joseph Salmon. <aff><i><small> Inria Saclay, LTCI, Telecom ParisTech</small></i></aff>
		<br>
		16:45 - 17:00: Bi-Objective Integer Programming For RNA Secondary Structure Prediction With Pseudoknots. <u>Audrey Legendre</u>, Eric Angel and Fariza Tahi. <aff><i><small>IBISC, U Evry</small></i></aff>
	      </p>	
	      
              <p>
                <br>
                <h4>17:00 – 18:30: Poster Session and Cocktail</h4>
		 <a href="#demoposters"> Demos/posters program </a>
		 <br><small><i> Posters will be presented during both sessions (Thursday and Friday) by all authors.</i></small>
              </p> 
<br>
              
	      <hr>

              <h3 >Friday 15 September 2017</h3>

              <p>
                <br>
                <b>9:15 - 9:30: Coffee</b>
	      </p>
	      
	      <p>
		<br>
		<h4>9:30 - 11:00: Morning Session I</h4>
		<h6>Machine learning and deep learning</h6>
		
		<h6> 9:30 - 10:30: Keynote <a href="#bousquet"><u>Olivier Bousquet</u> (Google Zurich)</a> Building Intelligent Systems at Scale with Deep Learning.</h6>
		<i>Chair: Takiy	Berrandou <small>(CESP)</small></i>
		<br>
		10:30 - 10:45: Robust deep learning: A case study. <u>Victor Estrade</u>, Cécile Germain, Isabelle Guyon and David Rousseau. <aff><i><small>LRI, Inria, LAL, UPSud</small></i></aff>
		<br>
		10:45 - 11:00: SPI-DNA: End-to-end Deep Learning Approach for Demographic History Inference. <u>Théophile Sanchez </u>, Guillaume Charpiat and Flora Jay. <aff><i><small>LRI, Inria, CNRS, UPSud</small></i></aff>
	      </p>

              <p>
                <br>
                <h4>11:00 - 12:00: Poster session II and coffee break</h4>
		<a href="#demoposters"> Demos/posters program </a>
		<br><small><i> Posters will be presented during both sessions (Thursday and Friday) by all authors.</i></small>
              </p>
	      
              <p>
                <br>
                <h4>12:00 – 13:20: Morning Session II</h4>
		<h6>Machine learning and statistical theory</h6>
		<i>Chair: Eugène Ndiaye <small>(Telecom ParisTech)</small></i>
		<br>
		12:00 - 12:15: Supervised layer Self-Organizing Maps with reject options. <u>Ludovic Platon</u>, Farida Zehraoui and Fariza Tahi. <aff><i><small>IBISC, IPS2, U Evry</small></i></aff>
                <br>
                12:15 - 12:30: On the benefits of output sparsity for multi-label classification. <u>Evgenii Chzhen</u>, Christophe Denis, Mohamed Hebiri and Joseph Salmon. <aff><i><small> UPEM, Telecom ParisTech</small></i></aff>
                <br>
                12:30 - 12:45: Scalable Model-based Cascaded Imputation of Missing Data. <u>Jacob Montiel</u>, Jesse Read, Albert Bifet and Talel Abdessalem. <aff><i><small> </small></i></aff>LTCI, Telecom ParisTech, LIX, Ecole Polytechnique, IPAL, CNRS, U Singapore
                <br>
                12:45 - 13:00: Ranking Data with Continuous Labels through Oriented Recursive Partitions <u>Mastane Achab</u>, Stéphan Clémençon. <aff><i><small>LTCI, Telecom ParisTech</small></i></aff>

		<br>
		<br>
		13:00: RAMP/CDS, <u>Bal&aacute;zs Kégl</u>. <aff><i><small>LAL, CNRS, UPSud</small></i></aff> 
		<br>
		13:15 A word about <a href=http://bee-o-diversity-challenge.strikingly.com/>the bee-o-diversity challenge </a> by Laurent Cetinsoy and Aris Tritas
              </p>
              <p>
                <br>
                <b>13:20: Talk & Poster Awards </b>
              </p>
	      
              <p>
                <b>13:30: Lunchbox to go </b>
              </p>
	      
	      <br>
              <p>
                <h4><u><b>Afternoon Student Activity </b></u></h4>
		Game and Microsoft Center Tour!
		<br> Please fill up the short following form. <b> The form is now closed.</b>
	      </p>
            </div>

       



<div class="row" id="demoposters">
      <br>
      <br>

      <h5>Demos</h5>
      <i> Posters will be presented during both sessions (Thursday and Friday) by all authors. Please design your poster in an A0 format (maximum size), portrait orientation. </i>
                 
<br> <br>Grouping Answers in Ontology-Based Query Answering: the RDFS case  <br> Maxime Buron and Michaël Thomazo  <br> <aff><i><small> INRIA ; LIX, Ecole Polytechnique ; Université Paris-Saclay </aff></i></small>  <br><br>
Forecasting bike sharing demand  <br> Aurélie Fréchet  <br> <aff><i><small> Ecole Nationale de la Statistique et de l’Analyse de l’Information, EDF R&D </aff></i></small>  <br><br>
Repairing regular expressions by adding missing words  <br> Thomas Rebele, Katerina Tzompanaki and Fabian M. Suchanek  <br> <aff><i><small> Télécom ParisTech ; Université Cergy-Pontoise </aff></i></small>  <br><br>

      <h5>Posters</h5>
      <i> Posters will be presented during both sessions (Thursday and Friday) by all authors. Please design your poster in an A0 format (maximum size), portrait orientation. </i>

<br><br><br>
Beyond stochastic gradient for maximum likelihood based ICA on EEG and MEG  <br> Pierre Ablin, Alexandre Gramfort and Jean-François Cardoso  <br> <aff><i><small>  Telecom Paristech ; Inria, Parietal team ; Institut d’Astrophysique de Paris </aff></i></small>  <br><br>
Alzheimer’s disease diagnosis using synchrony and disorder measures  <br> Amira Aljane and Nesma Houmani  <br> <aff><i><small> SAMOVAR, Télécom SudParis, CNRS, Université Paris-Saclay </aff></i></small>  <br><br>
Deep specification and verification of SQL compilation chain  <br> Léo Andrès, Raphaël Corner and Eunice Martins  <br> <aff><i><small> LRI, Université de Paris-Sud, Paris-Saclay </aff></i></small>  <br><br>
Segmentation and Detection in large microscopy for neural development and organization  <br> Tania Bacoyannis, Anatole Chessel, Emmanuel Beaurepaire, Jean Livet and Lamiae Abdeladim  <br> <aff><i><small> Laboratory of Optics and Biosciences, Ecole Polytechnique, Institut de la Vision </aff></i></small>  <br><br>
Multi-omics data integration to model iron metabolism in pathogenic yeast species  <br> Thomas Denecker and Gaëlle Lelandais  <br> <aff><i><small> Institut de Biologie Intégrative de la Cellule, Université de Paris-Sud </aff></i></small>  <br><br>
Finding Interesting Aggregates in RDF Graphs  <br> Yanlei Diao, Ioana Manolescu and Shu Shang  <br> <aff><i><small> Ecole Polytechnique, Inria Saclay, and Université Paris-Saclay </aff></i></small>  <br><br>
Estimation non-paramétrique pour des réseaux aléatoires  <br> Yann Issartel, Christophe Giraud and Nicolas Verzelen  <br> <aff><i><small> Université Paris-Sud XI, Laboratoire de Mathématiques d'Orsay ; INRA, SupAgro, Montpellier </aff></i></small>  <br><br>
Modeling Spatio-Temporal Data with Operator-Valued Kernel Methods: an Application to Epidemics  <br> Camille Jandot and Florence d'Alché-buc  <br> <aff><i><small> LTCI, Télécom ParisTech </aff></i></small>  <br><br>
Efficient Learning of Functional Outputs using Operator Random Fourier Features  <br> Alex Lambert, Romain Brault and Florence d'Alché-Buc  <br> <aff><i><small> LTCI, Télécom ParisTech </aff></i></small>  <br><br>
Breaking boundaries between language and database runtimes  <br> Julien Lopez  <br> <aff><i><small> LRI, Université Paris-Sud </aff></i></small>  <br><br>
Smart ease : reducing energy costs by storage and consumption forcasts  <br> Charles Lorenzo and Pierre-Louis Guhur  <br> <aff><i><small> EEA, ENS Paris-Saclay </aff></i></small>  <br><br>
Modelizing transformation processes with ontology and probabilistic relational models  <br> Melanie Munch  <br> <aff><i><small> UMR MIA-Paris, AgroParisTech, INRA, Université Paris-Saclay </aff></i></small>  <br><br>
Exploring Data Mining Techniques for Opportunistic Mobile Sensing Making Sense of Spatial Multivariate Time Series  <br> Ahmad Mustapha, Yehia Taher and Karine Zeitouni  <br> <aff><i><small> DAVID, Université Versailles Saint-Quuentin </aff></i></small>  <br><br>
Big Data Internship: Exploration & analysis of mobile communication's technical data - ByPass Fraud Detection  <br> El Mehdi Oumouss  <br> <aff><i><small> Télécom Paristech, Université Paris-Saclay
 </aff></i></small>  <br><br>
Streaming Comparison Benchmark between Spark and Flink using Kafka  <br> Carlos Perez  <br> <aff><i><small> Université Paris-Saclay </aff></i></small>  <br><br>
Nodes clustering in a graph under differential privacy constraints  <br> Rafael Pinot  <br> <aff><i><small> Institut LIST, CEA, Université Paris-Saclay </aff></i></small>  <br><br>
Aircraft Dynamics Identification  <br> Cédric Rommel, Frédéric Bonnans, Pierre Martinon and Baptiste Gregorutti  <br> <aff><i><small> CMAP, Ecole Polytechnique ; INRIA, Safety Line </aff></i></small>  <br><br>
Automatic Machine Learning: benchmark and future work  <br> Lisheng Sun  <br> <aff><i><small> LRI, Université Paris-Sud, Paris-Saclay, </aff></i></small>  <br><br>
Modeling Spatially-Correlated Cellular Networks by Applying Inhomogeneous Poisson Point Processes  <br> Shanshan Wang and Marco Di Renzo  <br> <aff><i><small> Laboratoire des signaux et systèmes, Centrale Supélec, Université Paris-Saclay, CNRS </aff></i></small>  <br><br>
Channel modeling analysis of visible light communication by stochatsic geometry  <br> Xiaojun Xi and Marco Di Renzo  <br> <aff><i><small> Laboratoire des signaux et systèmes, Centrale Supélec, Université Paris-Saclay, CNRS </aff></i></small>  <br><br>
      
    
-->
     </div>

   </div>
</section>
    
